Transaction layer does not support devices which don't comply with RFC3261

The transaction layer does not currently implement the ghetto response matching described in RFC3261 section 17, for compatibility with devices which don't comply with the newer spec.

It currently only matches with branch/CSeq.
